{% load static %}
<html>
	<head>
		<title> DRAWY </title>
		<link rel="stylesheet" href="{% static "style.css" %}"></style>
		<script src="{% static "jquery.min.js" %}"></script>
	</head>
	<body>
		<div class="mainMenu">
			<div class="splash">
				<img src="{% static "splash.jpg" %}">
				<h2>Может ли нейронная сеть распознавать рисунки? Нажми "Начать" и узнай!</h2>
				<div class="coolButton">Начать!</div>
			</div>
		</div>
		
		<div class="playground">
			<div class="header">
				<div class="task">
					Нарисуйте: Выхухоль
				</div>
				<div class="timer">
					Осталось времени: 40 сек
				</div>
			</div>
			
			<div class="cnvs">
				<canvas id="canv" width="800px" height="600px" style="height: 100%; width: 100%;"></canvas>
			</div>
			
			<div class="footer">
				<span>Вы нарисовали: </span>
				<span id="guess"></span>
				<span>...?</span>
				<button id="clr">Очистить холст</button>
			</div>
			
		</div>
	</body>
	
	<script src="{% static "drawy.js" %}"></script>
</html>